{% extends "base.html" %}
{% block title%}Register form{% endblock %}
{% block heading%} 
    <h1 style="color:rgb(248, 242, 242);font-size:40px;">
        <center> <u>REGISTER FORM</u> </center>
    </h1>
{% endblock %}
{% block content %}
<body style="background-color:rgb(196, 49, 117);">
    <br><br>
    <div>
        <center>
           
            <br>
            <br>
            <p style="font-size:40px;">
                &#128512; 
                &#128516; 
                &#128525; 
                &#128151;
            </p>
            <br>
            <br>
    <form method="POST">
        
        <label for="name">Name</label>
        <input name="name", placeholder="Name"> <br><br>

        <label for="name">Age</label>
        <input name="age", placeholder="Age"><br><br>
        
        <label for="name">Class</label>
        <input name="class", placeholder="Class"><br><br>
        
        <input type="submit"><br><br>
    </form>
</center>
    </div>
</body>
{% endblock%}