{% extends "base.html" %}
{% block title%}News{% endblock %}

{% block heading%}
<center>
    <h1 style = "color:brown ;font:medium;">
    Here's your news 
    <br></br>
    </h1>
<h2 style="color:navy;font-style: oblique;">
    <li> Our website has more than 100+ users </li>
</h2>
<h3 style="color:navy;font-style: oblique;">
    <li> Just for content </li>
</h3>
</center>
{%endblock%}
{% block content%}
<body style="background-color:lemonchiffon;">
    <br></br>
</body>
{%endblock%}
